* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	background-color: #86A5D9;
	font-family: sans-serif;
}

.navbar {
	background-color: #5F4BB6;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.options ul {
	display: inline-flex;
	list-style: none;

}

.logo {
	padding: 20px;
}

.logo a {
	font-size: 20px;
	color: white;
	font-weight: 600;
	padding: 10px;
	border: 5px white solid;

}



.options ul li{
	padding: 10px;
	font-size: 15px;
}

.options ul li a {
	color: white;
	font-weight: bold;
}


.login p {
	font-size: 20px;
	font-weight: bold;
	margin-right: 10px;
	color: white;
}


main {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 150px;
}

.login-form {
	height: 100%;
	width: 350px;
	background-color: white;
	padding: 20px;
	border: 3px solid black;
	border-radius: 10px;
}

.login-form h3 {
	text-align: center;
	font-size: 30px;
	padding-bottom: 25px;
	font-weight: bold;
}


.login-form label {
	font-size: 20px;
	font-weight: bold;
}

.login-form input {
	height: 30px;
	width: 100%;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.login-form button {
	background-color: purple;
	padding: 5px;
	font-size: 20px;
	border: 2px black solid;
	border-radius: 5px;
	color: white;
	margin-bottom: 10px;
}


.show {
	display: flex;
	align-items: center;
	font-size: 15px;
	margin-bottom: 5px;
}

.show input {
	width: 20px;
	padding: 0px;
	margin: 5px 5px 5px 0;
}


.match {
	height: 25px;
	width: 100%;
	background-color: #F8D7DA;
	color: #721C24;
	border: 1px solid #721C24;
	border-radius: 3px;
	padding: 4px;
	margin: 5px 5px 5px 0;
}